out_dir: ./results/arxiv
metric_agg: argmax
metric_best: accuracy
num_workers: 0
seed: 42
dataset:
  dir: /mnt/data2/duxin/.datasets
  format: OGB
  name: ogbn-arxiv
  split_mode: standard
  task: node
  task_type: classification
  task_entity: item
  transductive: true
  add_self_loops: True

metis:
  drop_rate: 0.0
  enable: true
  num_hops: 0
  online: true
  patch_num_diff: -1
  patch_rw_dim: 0
  patches: 0
  mode: subgraph

train:
  enable_ckpt: false
  eval_period: 5
  mode: custom
  batch_size: 256
  tqdm: True
  sampler: full_batch
  persistent_workers: True
  pin_memory: True
val:
  sampler: full_batch
  iter_per_epoch: -1
  tqdm: True
model:
  type: GTModel
  loss_fun: cross_entropy
gt:
  attn_dropout: 0.11922231223024432
  batch_norm: false
  dim_hidden: 256
  dropout: 0.5
  layer_norm: true
  layer_type: Transformer
  attn_type: GeneralAttention
  layers: 2
  n_heads: 8
  ffn_dim: 256
  head: node
  # head: cluster_node
  encoder_type : cascade
  node_encoder_list: [RawEncoder]
  edge_encoder_list: []
  input_dropout: 0.1
  activation_dropout: 0.1
  prepend_norm: True
  act : relu

gnn:
  mode: "gnn-only"
  layer_type: gcnconv
  act: relu
  agg: mean
  batch_norm: false
  dim_inner: 256
  layers : 2
  dropout: 0.5
  head: node
  layers_post_mp: 1
  layers_pre_mp: 0
  normalize_adj: true
optim:
  base_lr: 0.01
  clip_grad_norm: true
  max_epoch: 1000
  num_warmup_epochs: 5
  optimizer: adam
  clip_grad_norm_value: 1.
  scheduler: "None"
  weight_decay: 5e-4

perf:
  mode: "off" 
  include_regex: [] #！小写
  include_name: ["DummyEdgeEncoder","GeneralAttn","FFN_block"]