out_dir: ./results/test
metric_agg: argmax
metric_best: auc
num_workers: 0
seed: 42
dataset:
  dir: /mnt/data2/duxin/.datasets
  format: OGB
  name: ogbn-proteins
  split_mode: standard
  task: node
  task_type: classification
  task_entity: item
  transductive: true
  add_self_loops: True

metis:
  drop_rate: 0.0
  enable: false
  num_hops: 0
  online: true
  patch_num_diff: -1
  patch_rw_dim: 0
  patches: 345
  mode: subgraph

train:
  enable_ckpt: false
  eval_period: 5
  mode: custom
  batch_size: 256
  tqdm: True
  sampler: full_batch
  persistent_workers: True
  pin_memory: True
val:
  sampler: full_batch
  iter_per_epoch: -1
  tqdm: True
model:
  type: GTModel
  loss_fun: cross_entropy
gt:
  attn_dropout: 0.1
  batch_norm: false
  dim_hidden: 64
  dropout: 0.1
  layer_norm: true
  layer_type: Transformer
  attn_type: GeneralAttention
  layers: 1
  n_heads: 1
  ffn_dim: 128
  head: node
  # head: cluster_node
  encoder_type : cascade
  node_encoder_list: [RawEncoder]
  # edge_encoder_list: [RawEncoder]
  input_dropout: 0.1
  activation_dropout: 0.1
  prepend_norm: True
  act : relu

gnn:
  mode: "off"
  dropout: 0.2
optim:
  base_lr: 3e-4
  clip_grad_norm: true
  max_epoch: 200
  num_warmup_epochs: 5
  optimizer: adamW
  clip_grad_norm_value: 1.
  scheduler: cosine_with_warmup
  weight_decay: 1e-5

perf:
  mode: "off" 
  include_regex: [] #！小写
  include_name: ["DummyEdgeEncoder","GeneralAttn","FFN_block"]